<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-repro"
    version="1.2.0">
    <name>Repro</name>
    <description>Repro Cordova Plugin</description>
    <license>Commercial</license>
    <keywords>repro,analytics</keywords>

    <js-module src="www/Repro.js" name="Repro">
        <clobbers target="Repro" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Repro">
                <param name="ios-package" value="CDVRepro"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVRepro.h" />
        <source-file src="src/ios/CDVRepro.m" />

        <framework src="AVFoundation.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />

        <framework src="src/ios/Repro.embeddedframework/Repro.framework" custom="true" />
        <resource-file src="src/ios/Repro.embeddedframework/Repro.framework/ReproSDKResources.bundle" />
    </platform>

</plugin>
